spring:
  main:
    banner-mode: off
  datasource:
    url: jdbc:h2:mem:filter;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    enabled: true
  h2:
    console:
      enabled: true
      path: /h2-console

logbook:
  exclude:
    - /h2-console/**

logging:
  level:
    org.zalando.logbook: TRACE
