/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.sector-panel {
  background-color: #ffffff !important;
  opacity: 1 !important;
  backdrop-filter: none !important;
}

.sector-panel .mat-mdc-option {
  min-height: 48px;
}
